# Flutter/Dart/Pub
**/build/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.gradle
**/android/captures/
**/android/key.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# Firebase
**/android/app/google-services.json
**/ios/Runner/GoogleService-Info.plist

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter web related
**/web/favicon.png
**/web/icons/
**/web/manifest.json
